<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206739211715-8fq694t4vnriqsilsqd7m6pn5hqmfakm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206739211715-8fq694t4vnriqsilsqd7m6pn5hqmfakm</string>
	<key>API_KEY</key>
	<string>AIzaSyCuSSe9fX9aXzxyvLiGW-66KbBU3vpcuEg</string>
	<key>GCM_SENDER_ID</key>
	<string>206739211715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-a46d6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-a46d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206739211715:ios:589fa33e933a7764a42976</string>
</dict>
</plist>